.custom-shape-divider-top-1698506448 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1698506448 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 84px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1698506448 .shape-fill {
    fill: #417505;
}