.wrapper {
  background: linear-gradient(0deg, rgb(160 203 255) 0%, #ffffff 100%);
  height: 100%;
  overflow: auto;
}

.header {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headerBts {
    width: 90%;
    text-align: end;
    margin-top: 30px;

    button {
      cursor: auto;
      height: 38px;
      box-shadow: none;
      background: linear-gradient(0deg, rgb(70 181 176) 0%, #00adff 100%);
    }
  }

  .text {
    color: #0073c5;
    font-family: math;
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .btBaralhos {
    color: white;
    background: linear-gradient(0deg, rgb(70 181 176) 0%, #00adff 100%);
  }
}

.listaBaralhos {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;

  .card {
    font-family: math;
    color: white;
    background: linear-gradient(0deg, rgb(70 181 176) 0%, #00adff 100%);
    min-width: 230px;
    height: 140px;
    margin: 25px;
    cursor: pointer;

    .cardHeader {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column;

      .textConteiner {
        display: flex;
        .text {
          padding-top: 4px;
          padding-left: 10px;
        }
      }
    }
  }
}

.emptyList {
  margin-top: 20px;
  text-align: -webkit-center;

  img {
    width: 40%;
  }
  .text {
    color: #0072c5;
    font-family: monospace;
    font-size: 1.3rem;
  }
}
